.celcius{
    margin-right: 5rem;
}

.fahrenheit{
    margin-right: 3.5rem;

}

.kelvin{
    margin-right: 5.5rem;

}

body{
    background-color: black; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-height: 100vh; 
    
}





